.loginContainer {
  min-height: 100vh;
}

.loginContainer::after {
  background: url(../images/fundo1.png);
  bottom: 0;
  content: "";
  left: 0;
  opacity: 0.7;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;   
}

.loginContainer img {
  margin-top: 30%;
  margin-left: -20px;
  width: 100%;
}

.login {
  color: #590010;
  left: 20%;
  position: absolute;
  top: 50%;
  width: 200px;
}

.login button {
  color: #590010;
}

.login button:hover {
  background-color: #eae2b7;
  transition: all 0.3s ease;
}

.input {
  background-color: #cf8f38;
  border: 0;
  border-bottom: 2px solid #590010;
  border-radius: 10px;
  box-shadow: none;
  height: 50px;
  width: 100%;
}

.label {
  border: 2px solid #eae2b7;
  border-radius: 10px;
  width: 100%;
}
