.inScreen {
  display: flex;
  flex-direction: column;
  white-space: nowrap;
  width: 51%;
}

.inScreen h4 {
  font-size: 15px;
}

.inScreen h3 {
  font-size: 20px;
}

.scroll {
  background-color: #cf8f38;
  display: flex;
  flex-direction: row;
  margin: 0;
  overflow-x: auto;
  overflow-y: hidden;
  padding: 4px;
  white-space: nowrap;
  width: 100%;
}

/* source : https://www.geeksforgeeks.org/make-a-div-horizontally-scrollable-using-css/ */
