/* Color Gradiente
cf8f38
eae2b7
590010 */

.meals {
  align-items: center;
  background: #eae2b7;
  color: #cf8f38;
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
  height: 100vh;
  justify-content: center;
  width: 100%;
}

.rocksGlass {
  animation: shake 1s infinite ease;
  max-height: 80vh;
}

/*
#iceLeft {
  animation: clink .8s infinite ease;
  opacity: 0.6;
  transform-origin: 36px 66px;
}

#iceRight {
  animation: clink .8s .2s infinite ease;
  opacity: 0.6;
  transform-origin: 60px 78px;
}
*/

.meals > .logo {
  animation: shake 1.5s infinite ease;
  color: #eae2b7;
  font-family: Montserrat , sans-serif;
  font-size: 3em;
  font-weight: 900;
}

@keyframes shake {

  0% {
    transform: rotate(5deg);
  }

  50% {
    transform: rotate(-5deg);
  }

  100% {
    transform: rotate(5deg);
  }
}

@keyframes clink {

  0% {
    transform: rotate(-10deg);
  }

  50% {
    transform: rotate(20deg);
  }

  100% {
    transform: rotate(-10deg);
  }
}

.footer {
  align-items: center;
  background-color: #cf8f38;
  bottom: 0;
  display: flex;
  flex-direction: row;
  height: 3.5rem;
  justify-content: space-evenly;
  position: fixed;
  width: 100%;
}

.footerIcon {
  height: 2.5rem;
  margin: 0;
  padding: 0;
  width: 3rem;
}

/* Login Ref: https://codepen.io/shayanea/pen/eVMMgO */
.loginContainer {
	min-height: 100vh;
  background: linear-gradient(219deg, rgba(207,143,56,1) 0%, rgba(215,166,92,1) 7%, rgba(234,226,183,1) 100%);
}

.login {
  color: #590010;
  left: 20%;
  position: absolute;
  top: 50%;
  width: 200px;
}

.login button {
  color: #590010;

}
.login button:hover {
  transition: all .3s ease;
  background-color: #eae2b7;
}

.input {
  background-color: #cf8f38;
  border: 0;
  border-bottom: 2px solid #590010;
  border-radius: 10px;
  box-shadow: none;
  height: 50px;
  width: 100%;
}

.label {
  border: 2px solid #eae2b7;
  border-radius: 10px;
  width: 100%;
}

.header {
  align-items: center;
  background-color: #cf8f38;
  bottom: 0;
  display: flex;
  flex-direction: row;
  height: 3.5rem;
  justify-content: space-between;
  width: 100%;
}

.headerTitle {
  display: flex;
  font-size: 2rem;
  height: 50%;
  margin-left: 1.5rem;
}

.headerIcon {
  height: 2rem;
  margin-left: 1.5rem;
}

.headerButton {
  background: transparent;
  border: none;
  box-shadow: none;
  text-shadow: none;
}

.section {
  border-radius: 5px;
  border-bottom: 3px solid #590010;
  /* box-shadow: 0 4px 8px 0 #cf8f38; */
  display: flex;
  flex-flow: row wrap;
  height: 150px;
  margin: 0.2rem;
  max-width: 100px;
  text-align: center;
  align-items: center;
}

.sectionImg {
  display: flex;
  max-width: 100px;
  max-height: 100px;
  object-fit: cover;
}

.sectionText {
  display: flex;
  flex-flow: row wrap;
  font-size: 1rem;
  max-height: 50px;
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: #590010;
  word-break: break-all;
  align-items: center;
}

.master {
  display: flex;
  flex-flow: row wrap;
  height: 500px;
  max-width: 360px;
  align-items: center;
}

.search {
  align-items: center;
  background-color: #eae2b7;
  border-radius: 5px;
  box-shadow: 0 3px 5px 0 #590010;
  display: inline;
  position: absolute;
  text-align: center;
  top: 55px;
  width: 360px;
  color: #590010;
}

.search input {
  border-radius: 10px;
  border: 2px ridge #590010;
  margin: 5px;
  color: #590010;
}

.search button {
  border-radius: 10px;
  border-style: solid;
  color: #590010;
  margin-bottom: 10px;
  width: 100px;
  padding: 5px
}

.search label {
  padding: 0 5px;
}
.category {
  display: flex row;
  width: 100%;
  justify-content: space-between;
  align-content: stretch;
  margin-left: 4px;
}

.category input {
  display: flex row;
  flex-wrap: nowrap;
  border: 1px solid #590010;
  border-top: none;
  border-left: none;
  border-radius: 5px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  padding: 5px;
  margin-left: 3px;
  color: #590010;
  align-self: stretch;
  box-shadow: 0px 1px 1px 0 #590010;
}

.category input:hover {
  transition: all .3s ease;
  background-color: #cf8f38;
}

.explorer {
  display: flex;
  height: 500px;
  margin: auto;
  width: 50%;
  align-items: center;
  flex-direction: column;
}

.explorer a {
  padding-top: 20px
}

.explorerBtn {
  margin: 20px;
  padding: 10px;
  color: #590010;
  background-color: #eae2b7;
  flex-flow: row column;
  align-items: center;
  width: 200px;
  border: 1px solid #590010;
  border-radius: 5px;
}

.loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 120px;
  height: 120px;
  margin: -76px 0 0 -76px;
  border: 16px solid #eae2b7;
  border-radius: 50%;
  border-top: 16px solid #cf8f38;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}