.meals {
  align-items: center;
  background: #0fa36b;
  color: #464646;
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
  height: 100vh;
  justify-content: center;
  width: 100%;
}

.rocksGlass {
  animation: shake 1s infinite ease;
  max-height: 80vh;
}

/*
#iceLeft {
  animation: clink .8s infinite ease;
  opacity: 0.6;
  transform-origin: 36px 66px;
}

#iceRight {
  animation: clink .8s .2s infinite ease;
  opacity: 0.6;
  transform-origin: 60px 78px;
}
*/

.meals > .logo {
  animation: shake 1.5s infinite ease;
  color: aliceblue;
  font-family: Montserrat , sans-serif;
  font-size: 3em;
  font-weight: 900;
}

@keyframes shake {

  0% {
    transform: rotate(5deg);
  }

  50% {
    transform: rotate(-5deg);
  }

  100% {
    transform: rotate(5deg);
  }
}

@keyframes clink {

  0% {
    transform: rotate(-10deg);
  }

  50% {
    transform: rotate(20deg);
  }

  100% {
    transform: rotate(-10deg);
  }
}

.footer {
  align-items: center;
  background-color: pink;
  bottom: 0;
  display: flex;
  flex-direction: row;
  height: 3.5rem;
  justify-content: space-evenly;
  position: fixed;
  width: 100%;
}

.footerIcon {
  height: 2.5rem;
  margin: 0;
  padding: 0;
  width: 3rem;
}

/* Login Ref: https://codepen.io/shayanea/pen/eVMMgO */
.login {
  left: 20%;
  position: absolute;
  top: 50%;
  width: 200px;
}

.input {
  background-color: pink;
  border: 0;
  border-bottom: 1px solid black;
  border-radius: 10px;
  box-shadow: none;
  color: black;
  height: 50px;
  width: 100%;
}

.label {
  border: 2px solid pink;
  border-radius: 10px;
  width: 100%;
}

.header {
  align-items: center;
  background-color: pink;
  bottom: 0;
  display: flex;
  flex-direction: row;
  height: 3.5rem;
  justify-content: space-between;
  width: 100%;
}

.headerTitle {
  display: flex;
  font-size: 2rem;
  height: 50%;
  margin-left: 1.5rem;
}

.headerIcon {
  height: 2rem;
  margin-left: 1.5rem;
}

.headerButton {
  background: transparent;
  border: none;
  box-shadow: none;
  text-shadow: none;
}

.section {
  border-radius: 5px;
  border-top: 3px solid black;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  height: 150px;
  margin: 0.5rem;
  max-width: 200px;
  text-align: center;
}

.sectionImg {
  display: flex;
  height: 100px;
  width: 100px;
}

.sectionText {
  display: flex;
  font-size: 1rem;
  height: 50%;
  margin-left: 1.5rem;
  margin-top: 10%;
}

.master {
  display: flex;
  flex-flow: row wrap;
  max-width: 360px;
}
