/* Color Gradiente
cf8f38 Laranjito
eae2b7 Bege frise
590010 Vinho chique*/

.meals {
  align-items: center;
  background: #eae2b7;
  color: #cf8f38;
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
  height: 100vh;
  justify-content: center;
  width: 100%;
}

.meals > .logo {
  animation: shake 1.5s infinite ease;
  color: #eae2b7;
  font-family: Montserrat , sans-serif;
  font-size: 3em;
  font-weight: 900;
}

.loader {
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
  border: 16px solid #eae2b7;
  border-radius: 50%;
  border-top: 16px solid #cf8f38;
  height: 120px;
  left: 50%;
  margin: -76px 0 0 -76px;
  position: absolute;
  top: 50%;
  width: 120px;
  z-index: 1;
}

.detail {
  color: #590010;
  display: flex;
}

.detail h1 {
  border-bottom: 1px solid #cf8f38;
}

.detailContainer {
  display: flex;
}

.detail button {
  background-color: white;
  border: none;
  height: 2.5rem;
  margin: 0;
  padding: 0;
  width: 3rem;
}

@keyframes spin {
  0% { transform: rotate(0deg); }

  100% { transform: rotate(360deg); }

}
